/*@media (max-width: 1200px) {
	.header-wrap {
		width: 1200px;
	}

	.fitcha-wrap {
		
	}
}

@media (max-width: 992px) {
	.header-wrap {
		width: 960px;
	}

	.fitcha-wrap {
		
	}
}

@media (max-width: 768px) {
	.header-wrap {
		width: 720px;
	}
}

@media (max-width: 576px) {
	.header-wrap {
		width: 540px;
	}
}
*/