.header-wrap {
	margin: 0 auto;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-list {
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	
}

.item-link {
	color: rgba(21, 1, 1, 0.6);
	text-decoration: none;
}

.item-link:hover {
	color: #D23166;
	font-weight: 700;
}

.button-buy-now {
	padding: 14px 50px;
	font-weight: 700;
}

.header-logo-mobile {
	display: none;
}

.toggle-menu {
	display: none;
}


@media (max-width: 576px) {
	.toggle-menu {
		display: block; 
	}
	.header-inner .navbar {
		display: none;
	}

	.header-logo-mobile {
		display: none !important;
	}

	.header-logo {
		display: block !important;
	}
 }

@media (max-width: 768px) {
	.header-logo {
		display: none;
	}

	.header-logo-mobile {
		display: block;
		padding-bottom: 10px;
	}

	.header-inner {
		padding-bottom: 10px;
	}

	.header-inner .button-buy-now {
	    padding: 12px 24px;
	}
 }

@media (max-width: 992px) {
	.navbar-list.nav {
		grid-gap: 30px;
	}

 }
